
.posts {
    font-size: 75%;
    border: 1px silver solid;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 15px;
}

.posts li {
       list-style-type: none;
       text-indent: -1.5em; 
       margin-left: 1.5em; 
}

.posts h3 {
       margin-top: 0.2em;
}      

.datelabel {
   font-style: italic;	   
}
